services:
  seaqa-web:
    image: ${SEAQA_WEB_IMAGE:-seaticket/seaqa-web:0.1.0-testing}
    restart: unless-stopped
    container_name: seaqa-web
    volumes:
      - ./config.yml:/opt/seaticket/conf/config.yml
      - ${SEATICKET_VOLUME:-/opt/seaticket-data}:/shared
    environment:
      - SEAQA_MYSQL_DB_HOST=${MYSQL_HOST:-mysql}
      - SEAQA_MYSQL_DB_PORT=${MYSQL_PORT:-3306}
      - SEAQA_MYSQL_DB_USER=${MYSQL_USER:-seaticket}
      - SEAQA_MYSQL_DB_PASSWORD=${MYSQL_PASSWORD:?Variable is not set or empty}
      - SEAQA_MYSQL_SEAQA_DB_NAME=${MYSQL_DB_NAME:-seaticket_db}
      - INIT_SEAQA_MYSQL_ROOT_PASSWORD=${INIT_MYSQL_ROOT_PASSWORD:-}
      - INIT_ADMIN_EMAIL=${INIT_ADMIN_EMAIL:-}
      - INIT_ADMIN_PASSWORD=${INIT_ADMIN_PASSWORD:-}
      - REDIS_HOST=${REDIS_HOST:-redis}
      - REDIS_PORT=${REDIS_PORT:-6379}
      - REDIS_PASSWORD=${REDIS_PASSWORD:-}
      - JWT_PRIVATE_KEY=${JWT_PRIVATE_KEY:?Variable is not set or empty}
      - TZ=${TIME_ZONE}
      - SEATICKET_HOSTNAME=${SEATICKET_HOSTNAME:?Variable is not set or empty}
      - SEATICKET_PROTOCOL=${SEATICKET_PROTOCOL:-http}
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - frontend-net
      - backend-net
    labels:
      caddy: ${SEATICKET_PROTOCOL:-http}://${SEATICKET_HOSTNAME:?Variable is not set or empty}
      caddy.reverse_proxy: "{{upstreams 80}}"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://127.0.0.1:80 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

networks:
  frontend-net:
    name: frontend-net
  backend-net:
    name: backend-net
