services:
  seadb:
    image: ${SEADB_IMAGE:-seaticket/seadb:0.1.0-testing}
    restart: unless-stopped
    container_name: seadb
    # ports:
    #   - ${SEADB_PORT:-8888}:${SEADB_PORT:-8888}/tcp
    volumes:
      - ${SEATICKET_VOLUME:-/opt/seaticket-data}:/shared
      - ./fdb.cluster:/etc/foundationdb/fdb.cluster:ro
    environment:
      - TZ=${TIME_ZONE}
      - JWT_PRIVATE_KEY=${JWT_PRIVATE_KEY:?Variable is not set or empty}
    depends_on:
      fdb:
        condition: service_healthy
    networks:
      - seaticket

networks:
  seaticket:
